<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <a (click)="logout()" class="navbar-text navbar-right navbar-link" style="color:whitesmoke">Logout</a>
  </div>
</nav>
<div class="row">
  <div class="col-xs-12">
    <div style="text-align: center;">
      <img class="card-img-top image" style="width: 20rem;margin-left: auto; margin-right: auto;" [src]="userInfo.photoURL" *ngIf="userInfo && userInfo.photoURL" alt="User image">
      <h4 class="card-title" *ngIf="!challengeId">{{userInfo ? userInfo.displayName : 'User'}}</h4>
      <h4 class="card-title" *ngIf="challengeId">Hello {{userInfo ? userInfo.displayName : 'User'}} <br> Welcome to {{challengeName}} </h4>
      <!-- <h3 *ngIf="challengeId"></h3> -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6" style="text-align: center; padding:50px;">
    <h3>Log Workout</h3>
    <form class="container" [formGroup]="workoutForm" style="width: 300px; margin-top: 20px;">
      <div class="form-group">
        <label for="workout_type">Select workout</label>
        <select id="workout_type" required class="custom-select custom-select-lg" aria-placeholder="test" formControlName="workoutId">
          <option *ngFor="let workout of workoutService.workouts;" [ngValue]="workout.id">{{workout.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="workout_count">Count</label>
        <input id="workout_count" class="form-control" min="1" required type="number" placeholder="Count" formControlName="count">
        <div style="color:gray">Note: For 30 secs of Planking, enter 1</div>
      </div>
      <div *ngIf="workoutForm.dirty && !workoutForm.valid" style="color:gray">
        Please add Workout Type and a valid Count
      </div>
      <button (click)="onSubmit($event)" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div *ngIf="userInfo && userInfo.uid" class="col-xs-12 col-md-6" style="text-align: center; padding:50px;">
    <h3>My Workout Log</h3>
    <app-workout-log [selectedUserId]="userInfo.uid"></app-workout-log>
  </div>
  <div class="col-xs-12 col-md-12" style="text-align: center; padding:50px;">
    <h3>Leaderboard</h3>
    <ul class="list-group">
      <li *ngFor="let leaderBoardItem of workoutService.getLeaderBoardData(); let i = index;" (click)="leaderBoardSelect($event, leaderBoardItem.id, leaderBoardItem.name)" class="list-group-item d-flex justify-content-between align-items-center">
        {{leaderBoardItem.name}}
        <span class="badge badge-primary badge-pill">{{ leaderBoardItem.points.toFixed(2) }}</span>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-12" *ngIf="selectedLeader">
    <div class="col-xs-12" style="text-align: center; padding:50px;">
      <h3>{{selectedLeaderName}}'s Workout Log</h3>
      <app-workout-log [selectedUserId]="selectedLeader"></app-workout-log>
    </div>
  </div>
  <div class="col-xs-12" style="text-align: center; padding:50px;">
    <h3>Workout Conversion Rate</h3>
    <table class="conversion-table">
      <tr>
        <th>Workout</th>
        <th>Multiplier</th>
      </tr>
      <tr *ngFor="let workout of workoutService.workouts">
        <td>{{workout.name}}</td>
        <td>{{workout.multiplier}}</td>
      </tr>
    </table>
  </div>
</div>
